<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\RegistroAgencias.SqlServer.V329.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Content-Type-Options" />
          <remove name="Referrer-Policy" />
          <remove name="X-Frame-Options" />
          <remove name="X-Powered-By" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
          <add name="X-Frame-Options" value="DENY" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
